In [1]:
def say_hello(): 
    print("hello!")

In [6]:
def say_something(something): 
    print(something)

In [7]:
say_something("hello world!")

hello world!

In [8]:
Jing_says = "Hi, my name is Jing, I am learning Python."
say_something(Jing_says)

Hi, my name is Jing, I am learning Python.

In [9]:
#a list of my grades 
my_grades = ['B','C','B','D']

In [10]:
import pandas as pd 
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [12]:
my_grades.map({'B':'A','C':'B','D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [16]:
#use format()function 
my_grades = [92.34, 84.56, 86.78, 98.32]
for grade in my_grades: 
    print("{:.0f}".format(grade))

92
85
87
98

In [17]:
#convert the grades to a Series 
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64